<div class="nav-buttons mobHide">
    <a class="navOld" ui-sref='old' class='oldTaskButton'>Old Things</a>
    <input type="radio" ng-model="taskSee" value="Work" />Work
    <input type="radio" ng-model="taskSee" value="Home" />Home
    <input type="radio" ng-model="taskSee" value="Play" />Play
    <input type="radio" ng-model="taskSee" value="All" />All
</div>

<div class="nav-buttons mobShowNav">
    <a class="navOld" ui-sref='old' class='oldTaskButton'>Old</a>
    <input type="radio" ng-model="taskSee" value="Work" />W
    <input type="radio" ng-model="taskSee" value="Home" />H
    <input type="radio" ng-model="taskSee" value="Play" />P
    <input type="radio" ng-model="taskSee" value="All" />All
</div>

<div class='main-list'>
  <table>
    <tr class='col-title'>
      <th>Thing to do</th>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><input type="text" placeholder="New Thing" ng-model="thing.name"></td>
      <td class="opt-column">
        <select ng-model="type">
          <option value="">???</option>          
          <option value="Home">Home</option>
          <option value="Work">Work</option>
          <option value="Play">Play</option>
        </select>
      </td>
      <td class="opt-column">
        <select ng-model="priority">
          <option value="">???</option>          
          <option value="High">High</option>
          <option value="Med">Med</option>
          <option value="Low">Low</option>
        </select>
      </td>
      <td class="icon-column" ><button class="addButton fa fa-plus-square-o" ng-click="addtask()"></button></td>
    </tr>
    <tr ng-repeat="task in tasks"  ng-show="(showtask(task.timein, task.done, task.type)) && (task.priority === 'High')">
      <td class="tableName mobHide"> {{task.name}} </td>
      <td colspan="2" class="tableName mobShow"> {{task.name}} </td>
      <td class="mobHide"> {{task.type}} </td>
      <td> {{task.priority}} </td>
      <td task-complete></td>
    </tr>
    <tr ng-repeat="task in tasks"  ng-show="(showtask(task.timein, task.done, task.type)) && (task.priority === 'Med')">
      <td class="tableName mobHide"> {{task.name}} </td>
      <td colspan="2" class="tableName mobShow"> {{task.name}} </td>
      <td class="mobHide"> {{task.type}} </td>
      <td> {{task.priority}} </td>
      <td task-complete></td>
    </tr>
    <tr ng-repeat="task in tasks"  ng-show="(showtask(task.timein, task.done, task.type)) && (task.priority === 'Low')">
      <td class="tableName mobHide"> {{task.name}} </td>
      <td colspan="2" class="tableName mobShow"> {{task.name}} </td>
      <td class="mobHide"> {{task.type}} </td>
      <td> {{task.priority}} </td>
      <td task-complete></td>
    </tr>
  </table>

  <span class="cssOption">
    <button class="cssPick" href="#" ng-click="changeCSS('/css/style.css', 0);" title="pink/grey theme">
      <input type="image" src="images/cssone.png" alt="Light"></button>
    <button class="cssPick" href="#" ng-click="changeCSS('/css/styletwo.css', 0);" title="purple/green theme">
      <input type="image" src="images/csstwo.png" alt="Light"></button>
    <button class="cssPick" href="#" ng-click="changeCSS('/css/stylethree.css', 0);" title="blue/yellow theme">
      <input type="image" src="images/cssthree.png" alt="Light"></button>
    <button class="cssPick" href="#" ng-click="changeCSS('/css/stylefour.css', 0);" title="blue/pink theme">
      <input type="image" src="images/cssfour.png" alt="Light"></button>
  </span>
</div>