<table class="nav-buttons">
  <tr>
    <td><a ui-sref="home" class="homeTaskButton">See the new Things</a></td>
  </tr>
</table>

<div class='main-list'>
  <table>
    <tr>
      <th>Thing done!</th>
      <th>Type</th>
      <th>Value</th>
      <th>Done?</th>
      <th>Clear</th>
    </tr>
    <tr ng-repeat="task in tasks" ng-show="hidetask(task.timein, task.done)">
      <td class="tableName">{{task.name}}</td>
      <td> {{task.type}} </td>
      <td> {{task.priority}} </td>
      <td> {{task.done}} </td>
      <td task-delete></td>
    </tr>
  </table>
</div>

