

 <!-- This is test input...the timestamp(time in) will be generated behind the scenes later. -->


<div class = "test-input">

  <input type="text" placeholder="time in (number)" ng-model="timein"> <br> 
  <input type="text" placeholder="ToDo (text)"ng-model="name"> <br>
  <input type="button" name="high" placeholder="high" ng-model="value" value="high"> <br>
  <input type="text" placeholder="Done? (true/false)" ng-model="done"> <br>
  <button ng-click="addtask()">Push Data</button>
</div>



<div class='new-list'>
  <table>
    <tr>
      <th>New Thing</th>
      <th>Importance</th>
      <th></th>
    </tr>
    <tr>
      <td><input type="text" placeholder="New Thing to do"ng-model="name"></td>
      <td><input type="text" placeholder="high/med/low" ng-model="priority"></td>
      <td><button ng-click="addtask()">Add Thing</button></td>
    </tr>
  </table>
</div>  


<!--     <input type="radio" name="value" ng-model="value" value="high"> <br> -->
  

<!--     <div>
      How important is it really?
      <input list="value" >
        <datalist id="value">
          <option value="Very!">Very!</option>
          <option value="Sort of">Sort of</option>
          <option value="Meh">Meh</option>
        </datalist>
    </div> -->





<!-- <div class = "test-input">
  <p>test input</p>
  <input type="text" placeholder="time in (number)" ng-model="timein"> <br> 
  <input type="text" placeholder="ToDo (text)"ng-model="name"> <br>
  <input type="text" placeholder="Value (high/med/low)" ng-model="value"> <br>
  <input type="text" placeholder="Done? (true/false)" ng-model="done"> <br>
  <button ng-click="addtask()">Push Data</button>
</div> -->




<!--   <form>
    <div>
      <label ng-model="timein">Time in:</label>
      <input type="text" id="timein">
    </div>
    <div>
      <label ng-model="to do">What do you need to do?</label>
      <input type="text" id="name">
    </div>
        <div>
      <label ng-model="value">How important is it really?</label>
      <input type="text" id="value">
    </div>
    <div>
      <label ng-model="done">Are you done?</label>
      <input type="text" id="done">
    </div>

    <button ng-click="addtask()">Push Data</button>

  </form> -->